<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo/styles.css' %}">
</head>
<body>
    <h1>To-Do List</h1>
    <a href="{% url 'todo-create' %}">Add New To-Do</a>
    <ul>
        {% for todo in todos %}
        <li>
            {{ todo.title }} - {{ todo.description }} - Completed: {{ todo.is_completed }}
            <a href="{% url 'todo-update' todo.pk %}">Edit</a>
            <a href="{% url 'todo-delete' todo.pk %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
